name: CI

on: [push, pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        django-version: ["4.2", "5.2", "6.0"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        exclude:
          - django-version: "6.0"
            python-version: "3.10"
          - django-version: "6.0"
            python-version: "3.11"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Django
        run: pip install "Django~=${{ matrix.django-version }}.0"
      - name: Run Tests
        run: python manage.py test
